*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: consolas;
    /* font-size: 14px; */
}
.header
{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    /* min-height: 15vh; */
    height: 27%;
    
    /* padding-top: 20px; */
    margin-left: 0px;
    /* border: 2px solid black;  */
    background-image: url(spot.jpg); 
     background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    /* filter: brightness(1.5) contrast(1.5);  */
    /* background-color: #34495e; */
    padding-left: 10px;
    
}
.circle
{
    position: relative;
    width: 200px;
    height: 200px;
     background-color:goldenrod; 
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

}
.logo
{
position: absolute;
width: 150px;
height: 150px;
background-image: url(logo.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
filter: brightness(1.5) contrast(1.5);
}
.text
{
    position: absolute;
    width:100% ;
    height: 100%;
    animation: rotateText 10s linear infinite;
}

@keyframes rotateText
{
    0%
    {
        transform: rotate(360deg);
    }
    0%
    {
        transform: rotate(360deg);
    }
}
.text span
{
    position: absolute;
    left: 50%;
    font-size:1.2em ;
    transform-origin: 0 100px;
}
.title
{
    /* border: 2px solid black; */
    width: 180vh;
    height:30vh ;
    /* background-image: url(spot.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
     text-shadow: 4px 4px black; 
    font-size: x-large;
}
.title h3
{
    text-align: center;
    padding-top: 40px;
}
.title h1 
{
    text-align: center;
    text-transform: capitalize;
    text-shadow: 5px black;
    filter: brightness(1.8) contrast(1.8);
    padding-top: 10px;
    /* font-size: 25px; */
}
.title h4
{
    text-align: center;
    padding-top: 10px;
}